
div{
    text-align: center;
    padding:60px;
    margin:50px;
}

h1{
    font-size:30px;	
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  ;
    color:white;
}

h4{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  ;
    color:white;
}

h2{
    font-size:30px;	
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  ;
    color:white;
}

input{
    border:2px inset;
	border-radius:20px;
    text-indent:10px;
    height:30px;
    outline:none;
    background:transparent;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;	 
    color:white;
}

input:focus{
    background-color:black;
    color:white;		
}

button{
    border-radius:5px;
    border:5px ridge white;
	cursor:pointer;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  ;
    
}

a{
   text-decoration: none; 
   color:white;
}

.logo{
        margin:20px;
        padding:2px;
        font-size:20px;
        animation:float 3s ease-in-out infinite;
        color:white;
}

@keyframes float{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(15px);
  }
  100%{
    transform: translateY(0);
  }

}

p{
    color:white;
}

body{
    color:white;
}

::placeholder{
    color:white;
 }
